.charactersSection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: var(--gap-md);
  min-width: 320px;
}

.selectedCard {
  border: 2px solid var(--color-primary);
}

.disabledCharacter {
  cursor: not-allowed;
  filter: grayscale(100%);
  opacity: 0.6;
}
