.pagination {
  display: flex;
  align-items: center;
  gap: 4px;
}

.paginationBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-weight: 600;
}

.paginationBtnActive {
  background-color: var(--color-surface-active);
  color: var(--color-on-surface);
}
